/* styles.css */
body {
    font-family: Arial, sans-serif;
}
.header {
    padding: 20px;
    text-align: center;
    background-color: #1abc9c;
    color: white;
}

body {
    font-family: Arial, sans-serif;
}
.header {
    padding: 20px;
    text-align: center;
    background-color: #1abc9c;
    color: white;
}