header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

nav {
  flex: 1;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 2px solid #fff;
}

nav img {
  height: 30px;
}

main {
  margin-top: 80px;
  padding: 20px;
}
